*body{box-sizing: border-box;};
body{margin:0;
padding:0;}
form{
padding:10px 5px;
width:350px;
margin-top:100px;
margin-left:auto;
margin-right:auto;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
display:flex;
justify-content: center;
align-items: center;}
input {
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width:100%;
    padding:10px;
}
input[type="submit"]{
    width:100%;
    cursor: pointer;
}
a input[type="button"]
{
    width:100%;
}